/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 600px;
  height: 600px;
  background: url(painting.png) no-repeat;
  display: grid;
  gap: 20px 10px;
 
}
div {
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
}
.a {
  grid-row: 1/3;
  grid-column: 1/3;
}
.b {
  grid-row: 3/6;
  grid-column: 1/3;
}
.c {
  grid-row: 1/6;
  grid-column: 3/10;
}
.d {
  grid-row: 6/8;
  grid-column: 1/3;
}
.e {
  grid-row: 6/8;
  grid-column: 3/9;
}
.f {
  grid-row: 6/7;
  grid-column: 9/10;
}
.g {
  grid-row: 7/8;
  grid-column: 9/10;
}










