/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
.row {
	margin: 0.5%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.article {
	margin: 0 0.5%;
	float: left;
}

.quarter {
	width: 24%;
	background-color: aquamarine;
}

.half {
	width: 49%;
	background-color: blueviolet;
}

.three-quarter {
	width: 74%;
	background-color: yellowgreen;
}

.whole {
	width: 99%;
	background-color: orange;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (max-width: 480px)  {
	.row {
		margin: 0;
	}

	.quarter, .half, .three-quarter, .whole {
		width: 99%;
		margin: 0.5% 0.5%;
		float: left;
	}
}
/* Desktop screen Sizes */
@media only screen and (max-width: 768px)
and (min-width: 481px) {
	.quarter {
		width: 49%;
	}
}