html {
  box-sizing: border-box;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}
body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}
ul {
	margin: 0 0;
	padding: 0;
	list-style-type: none;
}

.cake-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.cake-list li {
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
}

figure {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

img {
	width: 100%;
	max-width: 362px;
	
}

@media (min-width: 550px) {
	.cake-list li {
		flex: 1 0 50%;
	}
}
@media (min-width: 850px) { 

	.cake-list li {
		flex: 1 0 30%;
	}
}